@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(248, 248, 248);
  color: #29292e;
}
button, input {
  font: 400 16px 'Roboto', sans-serif;
}

#container{
  height:100vh;

  display: flex;
  flex-direction: row;
  align-items: stretch;
  background-color: rgb(248, 248, 248);
}
#container aside{
  height: 100%;
  max-height: 100%;
  flex: 5;   

  /* background-color: rgb(131, 90, 253); */
  background-image: url('../assets/home-call.jpeg');
  background-size: cover;
  background-position: center;  

  display: flex;
  justify-content: center; 
}
#container aside strong {
  font: 700 28px 'Roboto', sans-serif;
  line-height: 42px;
  margin-top: 16px;
}
#container aside img {
  width:100%;
  object-fit: cover;
  max-height: 100%;
  opacity: 1;
  /* position: absolute; */
}
#container main{
  flex: 5;
  padding: 0 32px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#container main .content{
  width: 100%;
  max-width: 320px;
  padding-bottom: 40px;
  align-items: stretch;
  text-align: center;
}
#container a {
  text-decoration: none;
}
#container .logo {
  max-width: 75%;
}
#container button {
  height: 50px;  
  width:100%;  
  padding: 0 32px;

  background: rgb(131, 90, 253);
  font-weight: 500;
  color: rgb(255, 255, 255);
  border: 0;
  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;  
  transition: filter 0.2s;
}
#container button.create {
  background: rgb(24, 201, 136);
}
#container button:hover{
  filter: brightness(0.9);
}
#container button img {
  margin-right: 8px;
}
#container .separator {
  font-size: 14px;
  color: rgb(168, 168, 179);
  margin: 32px 0;
  display: flex;
  align-items: center;
}
#container .separator::before{
  content: '';
  flex: 1;
  height: 1px;
  background: rgb(168, 168, 179);
  margin-right: 16px;
}
#container .separator::after{
  content: '';
  flex: 1;
  height: 1px;
  background: rgb(168, 168, 179);
  margin-left: 16px;
}
#container input {
  width: 100%;
  height: 50px;
  padding: 0 16px;
  margin-bottom: 15px;

  border-radius: 8px;  
  background: rgb(255, 255, 255);
  border: 1px solid rgb(168, 168, 179);
  outline: none;
  transition: border 0.2s ease;
}
#container input:focus {
  border: 1px solid rgb(111, 80, 223);  
}

@media only screen and (max-width: 700px) {
  #container aside {
    display: none;
  }
  #container main{
    background-image: url('../assets/home-call.jpeg');
    background-size: cover;
    background-position: center;  
  }
  #container main .content{
    max-width: 450px;
    background-color: rgba(255, 250, 250, 0.9);
    padding: 0px 50px 25px 50px;
  }
}

@media only screen and (max-width: 550px) {
  #container main{
    background: none;
    padding: 0;
  }
  #container main .content{
    width: 100%;
    max-width: 100%;
  }
}