* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(248, 248, 248);
  color: #29292e;
}

#container{  
  height: 100vh;
  display: flex;
  flex-direction: column;
}
header {
  padding: 0 50px;
  border-bottom: 1px solid rgb(226, 226, 226);
  background-color: rgb(255,255,255);
  height: 80px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
header a img {
  height: 75px;
  color: #5a4ae3;
  filter: invert(29%) sepia(53%) saturate(5791%) hue-rotate(240deg) brightness(93%) contrast(90%);
}
button.room-code {
  height: 40px;
  border-radius: 8px;
  overflow: hidden;

  background: rgb(255, 255, 255);
  border: 1px solid rgb(131, 90, 253);
  cursor: pointer;
  padding: 0;
  display: flex;
  transition: filter 0.2s linear;
}
button.room-code:hover{
  filter:brightness(95%);
}
button.room-code div {
  height: 100%;
  padding: 0 12px;

  background: rgb(131, 90, 253);  

  display: flex;
  justify-content: center;
  align-items: center;
  align-self: start;
}
button.room-code span {
  display: block;
  align-self: center;
  flex: 1;
  padding: 0 16px 0 12px;
  min-width: 230px;
  font-size: 14px;
  font-weight: 500;
}

#video-grid{
  overflow-y: auto;
  flex: 1;
  /* background-color: lightcoral; */

  display: flex;
  justify-content: flex-start;
  align-items:flex-start;
  flex-wrap: wrap;
}
#video-grid > div {  
  position: relative;  
  width:25%;
  height: auto;
}
video {
  width: 100%;
  border: solid 2px rgb(131, 90, 253);
}
#video-grid > div > section{
  position: absolute;
  height: auto;
  width: auto;
  bottom: 6px;
  left: 2px;
  background-color: rgba(25,25,25,0.75);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#video-grid > div > section > img {
  height:17px;
  width: 17px;
  margin: 5px;
  display: none;
  /* background-color: rgba(240, 255, 255, 0.25); */
}

#options-bar{
  width: 100%;
  max-height: 70px;
  padding: 5px 35px;
  flex:1;
  background-color: rgb(70, 37, 158);  

  display: flex;
  flex-direction: row;
  align-items: center;
}
#options-bar .icon-container{
  height: 80%;
  padding: 10px;  
  margin-right: 25px;

  border-radius: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor:pointer;
  transition: background 0.1s linear;
}
#options-bar .icon-container:hover{
  background: rgba(255, 250, 250, 0.2);
}
#options-bar .icon-container::before {
  content: '';
  height:3px;
  background-color:red;
  width:0;

  position:absolute;
  transform: rotate(45deg);
  transition: width 0.1s ease;
  z-index: 5;
}
#options-bar .icon-disabled::before {
  width: 55px;
}
#options-bar .icon {
  height: 100%;
  filter: invert(100%);
  z-index: 4;
}

@media only screen and (max-width: 1000px) {
  #video-grid > div {   
    width:33%;
  }
}

@media only screen and (max-width: 700px) {
  #video-grid{
    justify-content: center;
  }
  #video-grid > div {   
    width:50%;
  }
}

@media only screen and (max-width: 600px) {
  header {
    justify-content: center;
  }
  header a img{
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  #video-grid > div {   
    width: 75%;
  }  
}