<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/assets/favicon.ico" />
  <link rel="stylesheet" href="/styles/index.css">
  <script src="/scripts/home.js"></script>
  <title>face2face - Home</title>
</head>
<body>
  
  <div id="container">
    <aside>
      <!-- <strong>Crie salas de vídeo simples</strong> -->      
    </aside>
    <main>
      <div class="content">
        <img src="/assets/logo.png" alt="face2face" class="logo"/>
        <button class="create" onclick="handleCreateRoom(event)">Criar uma sala de vídeo</button>
        <div class="separator">ou entre em uma sala</div>
        <form onsubmit="handleEnterRoom(event)">
          <input type="text" id="roomId" placeholder="Digite o ID da sala" required />
          <button type="submit">Entrar na sala</button> 
        </form>       
      </div>      
    </main>    
  </div>
 
</body>
</html>