<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/assets/favicon.ico" />  
  <script>
    const ROOM_ID = "<%= roomId %>";
    const SERVER_PORT = "<%= serverPort %>";
  </script>
  
  <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
  <script src="/socket.io/socket.io.js" defer></script>
  <!-- usado no tutorial <script src="./scripts/script.js" defer></script> -->
  <script src="/scripts/video-call.js" defer></script>
  <script src="/scripts/room.js" defer></script>
  <link rel="stylesheet" href="/styles/room.css">
  <title>Sala <%= roomId %></title>
</head>
<body>
  <div id="container">
    <header>
      <a href="/"><img src="/assets/logo.svg"/></a>
      <button class="room-code" onclick="copyRoomCodeToClipboard()">
        <div><img src="/assets/copy.svg" alt="copiar código"/></div>
        <span>Sala #<%= roomId %></span>
      </button>
    </header>    
    
    <div id="video-grid"></div>
    <div id="options-bar">
      <div class="icon-container" id="mic-container" onclick="muteOrUnmuteMicrophone(event)">
        <img src="/assets/mic.png" class="icon" alt="microphone"/>
      </div>

      <div class="icon-container" id="cam-container" onclick="hideOrShowVideo(event)">
        <img src="/assets/cam.png" class="icon" alt="camera"/>
      </div>
    </div>    

    <!-- 
    <div>Icons made by 
      <a href="https://www.flaticon.com/authors/kiranshastry" title="Kiranshastry">
        Kiranshastry
      </a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
    </div>
    <div>Icons made by 
      <a href="https://www.freepik.com" title="Freepik">
        Freepik
      </a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
    </div>
    -->

  </div>
</body>
</html>